.location-dropdown-list {
  max-height: 300px;
  overflow: auto;
  position: absolute;
  top: 55px;
}
@media (max-width: 575px) {
  .location-dropdown-list {
    top: 200%;
  }
}
.location-dropdown-label {
  position: absolute;
  top: 5px;
  left: 18px;
  font-size: 9px;
}
