/* modals outer, semi-transparent container */
.blurry {
  background-color: #33333388;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
}

/* container in the modal holding search components */
.search-container {
  width: 100%;
  height: 460px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
}

@media (max-width: 575px) {
  .search-container {
    height: 632px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.search-row {
  height: 55px;
  max-width: 1248px;
  margin: 0 auto;
  box-shadow: 0px 1px 6px 0px #0000001a;
}
@media (max-width: 575px) {
  .search-row {
    box-shadow: none;
  }
}
